//Шрифт
@baseFont: "Oswald", "Arial", sans-serif;
@textFont: "Arial", sans-serif;
@textFontSize: 14px;
@textLineHeight: 18px;

//Цвета
@baseBackground: #68b738;
@baseBackgroundHvr: #5eaa2f;
@promoBackground: #65a93c;
@baseTextColor: #444444;
@baseTextColorActive: rgba(68, 68, 68, 0.3);
@titleColor: #111111;
@additionalGoodsColor: #222222;
@buttonBorderColor: #989898;
@borderColor: #cfcfcf;
@additionalGoodsBorderColor: #cdcdcd;
@pinShadow: #d9d9d9;
@sliderLineColor: #dcdcdc;
@menuBorderColor: #e6e6e6;
@sliderBackground: #eaeaea;
@grayBackgroundHvr: #ebebeb;
@contentBorderColor: #ededed;
@contentBackground: #f2f2f2;
@textOnBackgroundColor: #ffffff;
@textOnBackgroundColorActive: rgba(255, 255, 255, 0.3);
@errorColor: #ff8282;

//Размеры экранов
@mobilWidthOnly: 767px;
@tabletWidth: 768px;
@desktopWidth: 1300px;

//Ретина
@retinaDpi: 144dpi;
@retinaDppx: 1.5dppx;
