.advantages {
  .wrapper();
}

.advantages__list {
  list-style: none;
  padding: 0;
  font-family: @textFont;
  font-size: @textFontSize;
  line-height: @textLineHeight;
}

.advantages__item {
  margin: 20px 0;
}
