.application-form {
  margin-bottom: 34px;
}

.application-form__tooltip {
  margin: 0 0 38px;
  .wrapper(20px);
  font-size: @textFontSize;
  line-height: @textLineHeight;
  text-transform: uppercase;
  color: @titleColor;
}

.application-form__cats-data {
  margin: 0;
  .wrapper(20px);
  margin-bottom: 9px;
  border: none;
}

.application-form__item {
  margin-bottom: 14px;
}

.application-form__key {
  margin-right: 15px;
  line-height: @textLineHeight;
  color: @additionalGoodsColor;
  text-transform: uppercase;
  vertical-align: middle;
}

.application-form__value {
  margin: 0;
  padding: 13px 15px;
  border: solid 1px @menuBorderColor;
}

.application-form__value:placeholder-shown {
  font-family: @baseFont;
  font-size: 16px;
  line-height: 18px;
  color: @baseTextColor;
  text-transform: uppercase;
}

.application-form__purpose {
  .wrapper(20px);
  padding-top: 20px;
  padding-bottom: 7px;
  margin: 0;
  border: none;
  border-bottom: solid 1px @contentBorderColor;
  border-top: solid 1px @contentBorderColor;
}

.application-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.application-form__section {
  padding: 0 20px;
  margin: 0;
  margin-top: 31px;
  border: none;
}

.application-form__title {
  float: left;
  width: 100%;
  margin-bottom: 32px;
}

.application-form__wrapper-button {
  .wrapper(20px);
}

.application-form__button {
  width: 100%;
  margin-bottom: 20px;
}

.application-form__legend {
  font-family: @textFont;
  font-size: @textFontSize;
  line-height: 16px;
  display: block;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .application-form {
    margin-bottom: 72px;
  }

  .application-form__tooltip {
    .wrapper(70px);
    max-width: 347px;
  }

  .application-form__wrapper {
    .wrapper(70px);
  }

  .application-form__section--contacts .application-form__wrapper {
    padding: 0;
  }

  .application-form__purpose {
    border: solid 1px @contentBorderColor;
  }

  .application-form__section {
    .wrapper(70px);
  }

  .application-form__section--extra .application-form__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .application-form__section--extra .application-form__item {
    width: 284px;
  }

  .application-form__wrapper-button {
    .wrapper(70px);
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }

  .application-form__button {
    width: 284px;
    margin: 0;
  }

  .application-form__legend {
    width: 284px;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .application-form__tooltip {
    .wrapper(110px);
  }

  .application-form__wrapper {
    width: 100%;
    box-sizing: border-box;
    .wrapper(110px);
    display: flex;
    justify-content: space-between;
  }

  .application-form__cats-data {
    width: 570px;
    padding: 0;
  }

  .application-form__purpose {
    box-sizing: border-box;
    width: 570px;
    margin: 0;
  }

  .application-form__section {
    .wrapper(110px);
  }

  .application-form__section .application-form__wrapper {
    padding: 0;
  }

  .application-form__section--contacts .application-form__item {
    width: 570px;
  }

  .application-form__section--extra .application-form__item {
    width: 245px;
  }

  .application-form__wrapper-button {
    .wrapper(110px);
  }

  .application-form__button {
    width: 570px;
  }

  .application-form__legend {
    width: 570px;
  }
}
