.application-form {
  padding-bottom: 34px;
}

.application-form__tooltip {
  margin: 0 0 38px;
  .wrapper();
  font-size: @textFontSize;
  line-height: @textLineHeight;
  text-transform: uppercase;
  color: @titleColor;
}

.application-form__cats-data {
  margin: 0;
  .wrapper();
  padding-bottom: 9px;
  border: none;
  border-bottom: solid 1px @contentBorderColor;
}

.application-form__item {
  margin-bottom: 14px;
}

.application-form__key {
  margin-right: 15px;
  line-height: @textLineHeight;
  color: @additionalGoodsColor;
  text-transform: uppercase;
  vertical-align: middle;
}

.application-form__value {
  margin: 0;
  padding: 13px 15px;
  border: solid 1px @menuBorderColor;
}

.application-form__value:placeholder-shown {
  font-family: @baseFont;
  font-size: 16px;
  line-height: 18px;
  color: @baseTextColor;
  text-transform: uppercase;
}

.application-form__purpose {
  .wrapper();
  padding-top: 20px;
  padding-bottom: 7px;
  margin: 0;
  border: none;
  border-bottom: solid 1px @contentBorderColor;
}

.application-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.application-form__section {
  padding: 0;
  padding-right: 20px;
  padding-top: 34px;
  margin: 0;
  margin-left: 20px;
  margin-top: 31px;
  border: none;
  border-top: 3px solid @baseBackground;
}

.application-form__title {
  display: inline-block;
  vertical-align: middle;
  padding-inline-end: 24px;
  max-width: 211px;
  box-sizing: border-box;
}

.application-form__button {
  margin: 20px 20px 23px;
}

.application-form__legend {
  font-family: @textFont;
  font-size: @textFontSize;
  line-height: 16px;
  display: block;
  text-align: center;
}
