.application-form {
  margin-bottom: 34px;
}

.application-form__wrapper {
  .wrapper();

  &--outer {
    padding: 0;
  }
}

.application-form__tooltip {
  width: 82.14%;
  margin: 0 0 18px;
  font-size: @textFontSize;
  line-height: @textLineHeight;
  text-transform: uppercase;
  color: @titleColor;
}

.application-form__section {
  position: relative;
  margin: 0;
  padding: 20px 0 0;
  border: none;

  &--cats-data {
    padding-bottom: 23px;
  }

  &--purpose {
    padding-bottom: 20px;
    border-bottom: solid 1px @contentBorderColor;
    border-top: solid 1px @contentBorderColor;
  }

  &--contacts {
    padding-top: 110px;
  }

  &--comments,
  &--extra {
    padding-top: 73px;
  }
}

.application-form__item {
  margin-bottom: 13px;
  display: flex;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.application-form__key {
  margin-right: 12px;
  line-height: @textLineHeight;
  color: @additionalGoodsColor;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
}

.application-form__section--purpose .application-form__key,
.application-form__section--extra .application-form__key {
  padding: 6px 0 6px 46px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid @borderColor;
    box-sizing: border-box;
  }
}

.application-form__section--purpose .application-form__key {
  &::before {
    border-radius: 50%;
  }
}

.application-form__section--purpose .application-form__value:checked + .application-form__key::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;
  width: 12px;
  height: 12px;
  background-color: @baseBackground;
  border-radius: 50%;
}

.application-form__section--extra .application-form__value:checked + .application-form__key::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 5px;
  width: 21px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}

.application-form__value {
  margin: 0;
  padding: 13px 15px;
  border: solid 1px @menuBorderColor;

  &:not([type="radio"]):not([type="checkbox"]) {
    flex-grow: 1;
  }

  &[type="radio"],
  &[type="checkbox"] {
    display: none;
  }
}

.application-form__section--comments .application-form__value {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 150px;
  padding-right: 12px;
}

.application-form__value:placeholder-shown {
  font-family: @baseFont;
  font-size: 16px;
  line-height: 18px;
  color: @baseTextColor;
  text-transform: uppercase;
}

.application-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.application-form__title {
  max-width: 181px;
  padding-right: 22px;
  padding-left: 20px;
  position: absolute;
  top: 32px;
  left: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100vw;
    height: 3px;
    background-color: @baseBackground;
  }

  &::before {
    right: 100%;
  }

  &::after {
    left: 100%;
  }
}

.application-form__button {
  margin: 34px 0 22px;
  width: 100%;
}

.application-form__legend {
  font-family: @textFont;
  font-size: @textFontSize;
  line-height: 16px;
  display: block;
  text-align: center;
}

@media (min-width: @tabletWidth) {
  .application-form {
    margin-top: 36px;
    margin-bottom: 72px;
  }

  .application-form__wrapper {
    padding: 0 66px 0 70px;

    &--inner {
      padding: 0;
    }
  }

  .application-form__tooltip {
    width: 54.3%;
    margin-bottom: 41px;
    font-size: 20px;
    line-height: 30px;
  }

  .application-form__section {
    padding: 24px 0 0;

    &--cats-data {
      padding-bottom: 72px;
    }

    &--purpose {
      padding-bottom: 24px;
      padding-left: 27px;
      border: solid 1px @contentBorderColor;
    }

    &--contacts {
      padding-top: 187px;
    }

    &--comments {
      padding-top: 177px;
    }

    &--extra {
      padding-top: 158px;
    }
  }

  .application-form__item {
    margin-bottom: 20px;
  }

  .application-form__section--purpose .application-form__item:not(:last-child) {
    margin-bottom: 13px;
  }

  .application-form__section--purpose .application-form__key,
  .application-form__section--extra .application-form__key {
    padding: 10px 0 10px 60px;
    position: relative;

    &::before {
      width: 40px;
      height: 40px;
    }
  }

  .application-form__section--purpose .application-form__value:checked + .application-form__key::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 11px;
    width: 18px;
    height: 18px;
  }

  .application-form__section--extra .application-form__value:checked + .application-form__key::after {
    top: 12px;
    left: 10px;
  }

  .application-form__key {
    margin-right: 17px;
    font-size: 20px;
    line-height: 20px;
  }

  .application-form__value {
    padding: 10px 19px;

    &[type="radio"],
    &[type="checkbox"] {
      margin-right: 20px;
    }
  }

  .application-form__value:placeholder-shown {
    font-size: 20px;
    line-height: 20px;
  }

  .application-form__title {
    max-width: 512px;
    padding: 0 43px;
    top: 69px;
    left: 30px;
  }

  .application-form__section--contacts .application-form__title {
    top: 79px;
  }

  .application-form__section--extra .application-form__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .application-form__section--extra .application-form__item {
    width: 45.3%;
    margin-bottom: 32px;
  }

  .application-form__wrapper-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
  }

  .application-form__button {
    margin: 0;
    width: 45.3%;
  }

  .application-form__legend {
    width: 45.3%;
    text-align: left;
  }
}

@media (min-width: @desktopWidth) {
  .application-form__wrapper {
    padding: 0 40px;

    &--inner {
      padding: 0;
    }
  }

  .application-form__tooltip {
    width: 26.6%;
  }

  .application-form__inner {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }

  .application-form__section {
    max-width: 1300px;
    margin: 0 auto;

    &--cats-data {
      width: 46.73%;
      padding: 0;
      margin: 0;
    }

    &--purpose {
      padding: 30px 28px 0;
      box-sizing: border-box;
      width: 46.73%;
      margin: 0;
    }

    &--contacts {
      padding-top: 181px;
    }

    &--comments {
      padding-top: 179px;
    }

    &--extra {
      padding-top: 160px;
    }
  }

  .application-form__title {
    left: 0;
    padding: 0 43px 0 40px;
  }

  .application-form__section--contacts .application-form__item {
    width: 46.73%;
    margin: 0;
  }

  .application-form__section--extra .application-form__item {
    width: 20.1%;
  }

  .application-form__button {
    width: 46.73%;
  }

  .application-form__legend {
    width: 46.73%;
  }
}
