.button {
  display: block;
  box-sizing: border-box;
  font-family: @baseFont;
  color: @textOnBackgroundColor;
  font-size: @textFontSize;
  line-height: @textLineHeight;
  text-align: center;
  text-transform: uppercase;
  background-color: @baseBackground;
  padding: 11px 0;
  border: none;

  &--gray {
    background-color: @contentBackground;
    color: @baseTextColor;
  }
}
