.catalog {
  margin-bottom: 30px;
}

.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog__item {
  border-bottom: solid 1px @contentBorderColor;
  padding: 24px 20px;

  &--all-products {
    text-align: center;
  }
}

.catalog__item:first-child {
  border-top: solid 1px @contentBorderColor;
}

.catalog__title {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: @titleColor;
}

.catalog__detail {
  font-family: @textFont;
  font-size: 12px;
  line-height: 16px;
}

.catalog__button {
  margin-top: 20px;
}

.catalog__text {
  margin: 10px 0 0;
  font-family: @textFont;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: @tabletWidth) {
  .catalog {
    padding: 0 30px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item {
    width: 324px;
    padding: 140px 0 0;
    border: none;

    &:nth-child(2n+1) {
      margin-right: 60px;
      border: none;
    }
  }
}

@media (min-width: @desktopWidth) {
  .catalog {
    padding: 0 110px;
  }

  .catalog__item {
    width: 245px;
    margin-right: 80px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
