.categories {
  width: 280px;
  margin: 0 auto;
}

.categories__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories__item {
  padding: 20px;
  margin: 20px 0;
  background-color: @contentBackground;
}

.categories__title {
  margin: 0;
  color: @titleColor;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}

.categories__description {
  font-family: @textFont;
  font-size: @textFontSize;
  line-height: @textLineHeight;
  margin: 21px 0 41px;
}

.categories__link {
  display: block;
  color: @titleColor;
  text-transform: uppercase;
  line-height: 16px;
}

@media (min-width: @tabletWidth) {
  .categories {
    width: 708px;
  }

  .categories__item {
    padding-right: 270px;
  }
}

@media (min-width: @desktopWidth) {
  .categories {
    width: 1220px;
  }

  .categories__list {
    display: flex;
    justify-content: space-between;
  }

  .categories__item {
    box-sizing: border-box;
    width: 570px;
    padding: 41px 52px;
  }
}
