.contacts {
  padding-top: 30px;
}

.contacts__text {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.contacts__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @titleColor;
  width: 140px;
}

.contacts__address {
  margin: 0;
  font-family: @textFont;
  font-size: @textFontSize;
  line-height: 20px;
  width: 140px;
}

.contacts__map {
  margin-top: 25px;
  display: block;
}

@media (min-width: @tabletWidth) {
  .contacts__text {
    padding: 0 70px;
  }

  .contacts__title {
    width: 165px;
  }

  .contacts__address {
    width: 165px;
  }
}

@media (min-width: @desktopWidth) {
  .contacts {
    position: relative;
    padding: 0;
  }

  .contacts__text {
    background-color: @textOnBackgroundColor;
    padding: 63px 75px;
    width: 570px;
    position: absolute;
    top: 95px;
    left: 110px;
  }

  .contacts__map {
    margin: 0;
  }
}
