.contacts {
  padding-top: 30px;
}

.contacts__text {
  .wrapper();
}

.contacts__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @titleColor;
}

.contacts__address {
  margin: 0;
  font-family: @textFont;
  font-size: @textFontSize;
  line-height: 20px;
}

.contacts__map {
  margin-top: 25px;
}
