.page-header {
  .wrapper();
  display: flex;
  flex-direction: column;
  padding: 10px 0 0;
}

.page-header__logo {
  margin-left: 20px;
  margin-right: 50px;
  margin-bottom: 13px;
}

@media (min-width: @tabletWidth) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 24px;
  }

  .page-header__logo {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: @desktopWidth) {
  .page-header {
    padding-top: 54px;

    &--index {
      .position-center();
      top: 0;
      width: 100%;
      box-sizing: border-box;
    }
  }
}
