.page-main {
  max-width: 1440px;
  overflow: hidden;
  margin: 0 auto;
}

.page-main__title {
  .wrapper();
  padding-top: 16px;
  padding-bottom: 28px;
}

@media (min-width: @tabletWidth) {
  .page-main__title {
    padding-top: 44px;
    padding-bottom: 25px;
  }
}

@media (min-width: @desktopWidth) {
  .page-main__title {
    padding-top: 61px;
    padding-bottom: 25px;
  }
}
