.page-footer {
  &--content {
    background-color: @contentBackground;
  }
}

.page-footer__background {
  .wrapper();
  background-color: @contentBackground;
  margin-top: -3px;
  padding-top: 40px;
  padding-bottom: 28px;
  text-align: center;
}

.page-footer__social {
  padding: 20px 0;
}

.page-footer__copyright {
  font-family: @textFont;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  background: url("../../img/htmlacademy.svg") no-repeat 100% 0;
  padding: 9px 0;
}

.page-footer__copyright-link {
  color: @baseTextColor;
}
