.page-footer__logo {
  margin-bottom: 39px;
}

.page-footer {
  &--content {
    background-color: @contentBackground;
  }
}

.page-footer__background {
  .wrapper();
  padding-top: 40px;
  padding-bottom: 28px;
  background-color: @contentBackground;
  text-align: center;
}

.page-footer__social {
  padding: 20px 0;
}

.page-footer__copyright {
  font-family: @textFont;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  background: url("../img/htmlacademy.svg") no-repeat 100% 0;
  padding: 9px 0;
}

.page-footer__copyright-link {
  color: @baseTextColor;
}

@media (min-width: @tabletWidth) {
  .page-footer__background {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .page-footer__logo {
    margin-bottom: 0;
  }

  .page-footer__copyright {
    width: 162px;
  }
}

//@media (min-width: @desktopWidth) {
//  .page-footer__background {
//  }
//}
