.promo {
  text-align: center;
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.promo__wrapper {
  box-sizing: border-box;
  padding: 20px 20px 0;
  height: 305px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: @baseBackground;
  color: @textOnBackgroundColor;
}

.promo__title {
  color: @textOnBackgroundColor;
  margin-bottom: 15px;
  line-height: 36px;
}

.promo__slogan {
  margin: 0;
  text-transform: uppercase;
  font-size: @textFontSize;
  line-height: 14px;
}

.promo__img {
  .position-center();
  top: 165px;
}

.promo__button {
  margin: 135px 20px 0;
}

@media (min-width: @tablet-width) {
  .promo {
    width: 487px;
    text-align: left;
    min-height: 400px;
  }

  .promo__wrapper {
    padding: 0;
    background: none;
    color: @titleColor;
    height: auto;
    width: 427px;
  }

  .promo__title {
    color: @titleColor;
  }

  .promo__button {
    margin: 50px 0 0;
    display: inline-block;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    width: 1220px;
    padding-left: 80px;
    box-sizing: border-box;
  }

  .promo__wrapper {
    width: 415px;
  }

  .promo__img {
    top: 0;
  }
}
