.social {
  list-style: none;
  padding: 0;
  border-bottom: solid 1px @borderColor;
  border-top: solid 1px @borderColor;
}

.social__item {
  margin: 0;
}

.social__link {
  font-size: 0;
  display: block;
  width: 22px;
  height: 19px;
  border: solid 1px @baseBackground;
}
