.social {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 20px 73px;
  border-bottom: solid 1px @borderColor;
  border-top: solid 1px @borderColor;
}

.social__item {
  margin: 0;
}

.social__link {
  font-size: 0;
  display: block;
  width: 22px;
  height: 19px;
  border: solid 1px @baseBackground;
}

@media (min-width: @tabletWidth) {
  .social {
    width: 146px;
    border: none;
    margin: 0;
    padding: 0;
  }
}
